:root {
	/* colours */
	--offWhite: #fefefe;
	--darkGrey: #161718;
	--greyBg: #212124;
	--lightGreyBg: #2b2b2e;
	--greenButton: #3adf4d;
	--greenButtonHover: #238c2f;
	--redButton: #ba0517;
	--redButtonHover: #720712;

	/* fonts */
	--largeSize: 4em;
	--titleSize: 2em;
	--subTitleSize: 1em;
	--standardSize: 0.7em;
	--inputSize: 0.9em;
	--smallSize: 0.5em;
}
